.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: e9d5a1;
}

.header-links-container {
  position: fixed;
  margin-top: 30rem;

  width: 20rem;
  display: flex;
  justify-content: space-around;
}

.linkedin-icon {
  height: 3rem;
  width: auto;
}

.github-icon {
  height: 3rem;
  width: auto;
}

.resume-btn {
  height: 3rem;
  width: auto;
}

.header-laptop-icon {
  margin-bottom: 10rem;
  height: 15rem;
  width: auto;
}

.header-name {
  position: fixed;
  margin-top: 10rem;
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header-job {
  position: fixed;
  margin-top: 16rem;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 1000;
}

.styles_typicalWrapper__1_Uvh::after {
  cursor: none !important;
  display: none;
}

@media only screen and (max-width: 395px) {
  .header-laptop-icon {
    height: 10rem;
    width: auto;
  }

  .header-name {
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  .header-job {
    font-size: 1.5rem;
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 320px) {
  .header-laptop-icon {
    height: 8rem;
    width: auto;
  }

  .header-name {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .header-job {
    font-size: 1.25rem;
    margin-top: 6rem;
  }
}
